@charset "UTF-8";

/*

Typical Device Breakpoints

Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 99px até 1200px
Grandes Telas: acima de 1200px

*/

@media screen and (min-width: 768px) {
    header > i#burguer {
        display: none;
    }

    header > menu{
        display: block;
    }

    header > menu > ul > li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
}